<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeedingApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA53E2441CEB6C5600EC4438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA53E25A1CEB6C5700EC4438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA53E2651CEB6C5700EC4438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
